.index__title{
    display: flex;
    gap: 7vw;
    border-bottom: 1.5px solid #000; padding: 1vh 13vw; margin-bottom: 10vh;  margin-top: 6vh;
}

.caption{
    font-size: 18px;
    font-weight: bold;
}
.recommend{
    color: #ff0000;
}
